
<div class="row mt-10">
  <div class="col-12 text-center">
      <h1>Forgot Password</h1>
  <h4>Confirm email address</h4>
  <form [formGroup]="fogotpasswordlinkForm">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" formControlName="email"  required class="form-control" placeholder="Email Address *">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button type="button" (click)="submit()" [disabled]="!fogotpasswordlinkForm.valid">
          Submit
        </button>
        <div style="cursor:pointer">
          <span class="mt-5 text-center" [routerLink]="['']">Back</span>
        </div>
        </div>
    </div>
  </form>
</div>
</div>

