<div>  
  <h4>Confirm email address</h4>
  <form [formGroup]="fogotpasswordlinkForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" formControlName="email"  required class="form-control" placeholder="Email Address *">
        </div>
      </div>
    </div>
    <div class="row">
        <button type="button" (click)="submit()" [disabled]="!fogotpasswordlinkForm.valid">
          Submit
        </button>
    </div>
  </form>
</div>
